.swish_pay_check {

    .header_block {
        display: flex;
        padding: 25px 20px;
        margin-bottom: 20px;
        align-items: center;
        max-height: 150px;
        overflow: hidden;

        &.success_block {
            background-color: #4f9c0f;
            color: #fff
        }

        &.failed {
            background-color: #af5555;
        }

        .img_logo {
            max-width: 80px;
            display: inline-flex;

            img {
                width: 100%;
            }
        }

        .content_block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: #fff;
            flex-wrap: wrap;

            > div {
                width: 100%;
                text-align: center;
            }

            .text {
                font-size: 30px;
            }
        }
    }

    .center-text {
        text-align: center;
    }

    .home_link {
        margin: 0 10px;
    }

    .error, .success {
        display: flex;
        align-items: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 20px;
        background-color: #e0caca;
        padding: 10px 10px;
    }

    .success {
        background-color: #c4e0b3;
        color: #367311;
    }

    .order_details {

        .img_block {
            max-width: 400px;
            margin: auto;
            margin-bottom: 25px;
            border: 2px solid #ccc;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .homePage_block {
        margin-top: 15px;
        margin-bottom: 50px;

        a {
            color: #fff;
            background: #16b2e0;
            padding: 10px 15px;
            display: inline-block;
            border-radius: 7px;
            cursor: pointer;
            margin-bottom: 25px;
            font-weight: bold;
            transition: all .3s ease-in-out;

            &:hover, &:focus {
                background-color: #1fa8d0;
            }

            &:hover, &:focus,
            &:visited {
                color: #fff;
            }
        }
    }

    .support_block {
        max-width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        text-align: left;

        a {
            color: #444;
            transition: all .3s ease-in-out;

            &:hover, &:focus {
                color: #444;
            }
        }
    }

    .loader {
        -webkit-animation: rotating 1.5s linear infinite;
        -moz-animation: rotating 1.5s linear infinite;
        -ms-animation: rotating 1.5s linear infinite;
        -o-animation: rotating 1.5s linear infinite;
        animation: rotating 1.5s linear infinite;
    }

    ul {
        text-align: left;
        max-width: 600px;
        margin: auto;
        margin-bottom: 25px;
        list-style-type: none;

        li {
            border-bottom: 1px solid #ccc;
        }
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }